* {
    background-color: skyblue;
    z-index: 1;
}

body {
    position: relative;
    Margin-top: 20px;
    text-align: center;
}

div {
    width: auto;
}

li {
    text-align: left;
    margin-left: 38%;
}

a:hover {
    background-color: white;
}

.header {
    border-radius: 11%;
    border: 3px solid blue;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    z-index: 2;
}

.centerElement{
    margin-left: auto;
    margin-right: auto;
}

.navyHighlight {
    background-color: blue;
}

#eventTable {
    border: 3px solid black;
}

#relayLogo {
    height: 148px;
    width: 257px;
}

a[href="mailto:info@example.com"] {
    font-style: italic;
}


a[href="mailto:[redacted]"] {
    font-style: italic;
}

img[scr="./images/Magic-the-gathering-logo.png"]{
    height: 148px;
    width: 512px
}